manifest {
    name = 'oncohawk'
    description = 'OncoHawk AML/MDS whole-genome sequencing workflow'
    version = '0.0.0'
    nextflowVersion = '!26.04.6'
}

params {
    workflow = null
    outdir = null
    input = null
    reference_bundle = null
    knowledge_bundle = null
    reference_spec = null
    knowledge_spec = null
    reference_fasta_url = null
    reference_fasta_md5 = null
    reference_exclusions_url = null
    reference_exclusions_md5 = null
}
