/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    oncohawk main workflow module configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'ONCOHAWK:TRIM_AND_MAP_FASTQ' {
        publishDir = [
            path: { "${params.outdir}/qc/cutadapt" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                if (filename.endsWith('.cutadapt.log')) return filename
                return null
            }
        ]
    }

    withName: 'ONCOHAWK:MARK_DUPLICATES' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) return null
                if (filename.endsWith('.markdup.log')) return "qc/sambamba/${filename}"
                if (filename.endsWith('.bam') || filename.endsWith('.bam.bai')) return "alignment/${filename}"
                return null
            }
        ]
    }

    withName: 'ONCOHAWK:MERGE_LANE_BAMS' {
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { _filename -> null }
        ]
    }

}
